#include "resource.h"

ICO_MYICON ICON resources\icon0.ico
CUR_MYCUR CURSOR resources\cur1.ani

WAV_APP_CLOSE WAVE resources\close.wav
WAV_MUSIC WAVE resources\music.wav
WAV_PHONK WAVE resources\phonk.wav

MAIN_MENU MENU DISCARDABLE
{
	MENUITEM "музыка", MENU_MUSIC

	POPUP "сложность"
	{
		MENUITEM "normal", MENU_DIFFICULTY_NORMAL
		MENUITEM "lvl death", MENU_DIFFICULTY_HARDCORE
	}
}